{% extends 'base.html' %}

{% block content %}
{% for issue in issue_list %}
<div class="card mt-2">
    <h3 class="card-header">{{ issue.id }} | {{ issue.issue_name }}</h5>
    <div class="card-body">
        <h5 class="card-title">{{ issue.body }}</h5>
        <p class="card-text"></p>
        <p class="card-text">Created: {{ issue.date_created }} | Updated: {{ issue.date_updated }}</p>
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
    </div>
</div>

{% endfor %}
{% endblock content %}