{% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary" href="{% url 'issue_create' %}">+ New Issue</a>
<hr class="my-4">
{% for issue in issue_list %}
<div class="card mt-2">
    <h5 class="card-header bg-dark text-bg-primary">{{ issue.id }} | <a href="{% url 'issue_detail' issue.id %}">{{ issue.issue_name }}</a></h5>
    <div class="card-body">
        <h5 class="card-title">{{ issue.body }}</h5>
        <a href="{% url 'issue_edit' issue.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'issue_delete' issue.id %}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endfor %}
{% endblock content %}